:root{
    --nero-100: rgba(0, 0, 0, 1);
    --black-opacity: rgba(0, 0, 0, 0.5);
    --deep-blue: rgba(20, 25, 34, 1);
    --dark-grey: rgba(40, 40, 40, 1);
    --text-white: rgba(255, 255, 255, 1);
    --text-grey: rgba(113, 113, 113, 1);
    --lime-green: rgba(173, 255, 47, 1);  
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', sans-serif;
}
main{
    width: 100%;
    height:calc(100vh - 95px);
    display: flex;
}
nav{
    width: 230px;
    background-color: var(--nero-100);
    height: 100%;
}
footer{
    width: 100%;
    height: 95px;
    background-color:var(--dark-grey);
    position: fixed;
    bottom: 0;
    z-index: 3;
}
.text{
    color: var(--text-grey);
    font-weight: bolder;
}
.dx{
    width: calc(100% - 230px);
    height: 100%;
    background-color: var(--deep-blue);
}
.bottom{
    height:100%;
    width:100%;
    overflow-y: auto;
   padding-top: 100px;
    
}
img{
    display: block;
}
.top{
    width:calc(100% - 230px);
    height: 95px;
    background-color: var(--black-opacity);
    position: fixed;
    top:0;
    z-index: 2;
}
.wrapper {
    width: 100%;
    height: 100vh; 
}
.flex{
    display: flex;
}
.text-up{
   text-transform: uppercase;
}
.content-center{
    justify-content: center;
}
/* BOTTOM */
.plays{
    position: relative;  
}

.dio i{
    left: 0;
    top: 0;
    font-size: 3rem;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: var(--black-opacity);
}
div.dio{
    display: none;
}
div.plays:hover{
    display: block;
   
}
.bottom li{
    color: var(--text-grey);
    list-style: none;
    padding: 1rem 0.8rem;
    font-weight: bolder;
    font-size: 0.8rem;
}
h2{
    color:var(--text-white);
    font-size: 1.5rem;
    margin-left: 1rem;
}
.sx{
    margin-left: 1rem;
}
.card{
    width: calc((100% / 6) - 2rem);
    margin: 2rem 1rem;
    text-align: center;
}
.card img{
    width: 100%;
}
.tit{
    color: var(--text-white);
    font-size: 1rem;
    font-weight: bolder;
    padding-top: 1rem;
}
.subtitle{
    color: var(--text-grey);
    font-size: 0.8rem;
    font-weight: bolder;
    padding-top: 0.5rem;
}
.cerchio img{
    border-radius: 50%;
}
/* TOP */
ul li.active::after{
content: '';
width: 50%;
display: block;
height: 2px;
background-color: var(--lime-green);
margin:5px auto;
}
.top a{
    text-decoration: none;
    color: var(--text-white);
    font-size: 0.8rem;
    font-weight:500;
    border: 1px solid white;
    padding:0.8rem 2rem ;
    border-radius: 2rem;
}
.top{
   align-items: center;
    justify-content: flex-end;  
}
.lx{
    margin-right: 25px;
}
/* LOGO */
.lg{
    display: none;
}
.wrapper2{
    width: 85%;
    padding: 1.5rem 0 0 1rem;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
}
.wrapper2 img{
    width: 80%;
}
.menu li{
    color: var(--text-grey);
    list-style: none;
    padding-top: 1rem;
    font-weight: bolder;
    font-size: 0.8rem;
}
.menu{
    padding-top: 1rem;
}
.menu i{
    font-size: 1.5rem;
}
.playlist{
    padding-top: 0.8rem;
}
li div i{
    color: black;
    font-size: 1rem;
}
li div.ops{
    background-color: var(--text-grey);
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.genio{
    align-items: center;
}
.gg{
    padding-left: 1rem;
}
#bianco{
    color: white;
}
/* GIU */
.giu hr{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.giu #bianco{
    padding-bottom: 1.5rem;
}
.giu img{
    width: 1rem;
    display: inline;
}
.testo{
    font-size: 0.8rem;
    padding-left: 0.5rem;
    /* padding-top: 0.5rem; */
}
.pad{
    padding-top: 0.5rem;
}
.grigio{
    background-color: var(--text-grey);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.giu{
    padding-top: 1rem;
}
.debug{
    min-height: 95px;
    background-color: blue;
    width:calc(100%/6);
}
.debug2{
    min-height: 95px;
    background-color: red;
    width:calc((100% /6 ) *4);  
}
.ct{
    justify-content: space-between;
    align-items: center;
}
#dx{
    padding-left: 1rem;
}
#sx{
    padding-right: 1rem;
}
.column{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.co{
    justify-content: flex-end;
    align-items: center;
}
#pd{
    padding: 0 0.5rem;
}