:root{
    --nero-100: rgba(0, 0, 0, 1);
    --black-opacity: rgba(0, 0, 0, 0.5);
    --deep-blue: rgba(20, 25, 34, 1);
    --dark-grey: rgba(40, 40, 40, 1);
    --text-white: rgba(255, 255, 255, 1);
    --text-grey: rgba(113, 113, 113, 1);
    --lime-green: rgba(173, 255, 47, 1);  
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', sans-serif;
   
}
main{
    width: 100%;
    height:calc(100vh - 95px);
    display: flex;
}
nav{
    width: 230px;
    background-color: var(--nero-100);
    height: 100%;
}
footer{
    width: 100%;
    height: 95px;
    background-color:var(--dark-grey);
    position: fixed;
    bottom: 0;
    z-index: 3;
}
.text{
    color: var(--text-grey);
    font-weight: bolder;
}
.dx{
    width: calc(100% - 230px);
    height: 100%;
    background-color: var(--deep-blue);
}
.bottom{
    height:100%;
    width:100%;
    overflow-y: auto;
   padding-top: 100px;
    
}
img{
    display: block;
}
.top{
    width:calc(100% - 230px);
    height: 95px;
    background-color: var(--black-opacity);
    position: fixed;
    top:0;
    z-index: 2;
}
.wrapper {
    width: 100%;
    height: 100vh; 
}
.flex{
    display: flex;
}
.text-up{
   text-transform: uppercase;
}
.content-center{
    justify-content: center;
}
/* BOTTOM */
.plays{
    position: relative;  
}
.juss{
    justify-content: center;
}
.al{
    align-items: center;
}
.dio i{
    /* left: 0;
    top: 0;
    font-size: 3rem;
    color: white;
    position: absolute;
    background-color: var(--black-opacity); */
}
div.dio{
    display: none;
    left: 0;
    top: 0;
    font-size: 3rem;
    color:var(--lime-green);
    position: absolute;
    background-color: var(--black-opacity);
    width: 100%;
    height: 100%;
}
div.dioo{
    display: none;
    left: 0;
    top: 0;
    font-size: 3rem;
    color:var(--lime-green);
    position: absolute;
    background-color: var(--black-opacity);
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
div.card:hover div.dio{
    display: flex;
   
}
div.card:hover div.dioo{
    display: flex;
   
}
.bottom li{
    color: var(--text-grey);
    list-style: none;
    padding: 1rem 0.8rem;
    font-weight: bolder;
    font-size: 0.8rem;
}
h2{
    color:var(--text-white);
    font-size: 1.5rem;
    margin-left: 1rem;
}
.sx{
    margin-left: 1rem;
}
.card{
    width: calc((100% / 6) - 2rem);
    margin: 2rem 1rem;
    text-align: center;
}
.card img{
    width: 100%;
}
.tit{
    color: var(--text-white);
    font-size: 1rem;
    font-weight: bolder;
    padding-top: 1rem;
}
.subtitle{
    color: var(--text-grey);
    font-size: 0.8rem;
    font-weight: bolder;
    padding-top: 0.5rem;
}
.cerchio img{
    border-radius: 50%;
}
/* TOP */
ul li.active::after{
content: '';
width: 50%;
display: block;
height: 2px;
background-color: var(--lime-green);
margin:5px auto;
}
.top a{
    text-decoration: none;
    color: var(--text-white);
    font-size: 0.8rem;
    font-weight:500;
    border: 1px solid white;
    padding:0.8rem 2rem ;
    border-radius: 2rem;
}
.top{
   align-items: center;
    justify-content: flex-end;  
}
.lx{
    margin-right: 25px;
    transition: transform .3s;
}
/* LOGO */
.lg{
    display: none;
}
.wrapper2{
    width: 85%;
    padding: 1.5rem 0 0 1rem;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
}
.wrapper2 img{
    width: 80%;
}
.menu li{
    color: var(--text-grey);
    list-style: none;
    padding-top: 1rem;
    font-weight: bolder;
    font-size: 0.8rem;
}
.menu{
    padding-top: 1rem;
}
.menu i{
    font-size: 1.5rem;
}
.playlist{
    padding-top: 0.8rem;
}
li div i{
    color: black;
    font-size: 1rem;
}
li div.ops{
    background-color: var(--text-grey);
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.genio{
    align-items: center;
}
.gg{
    padding-left: 1rem;
}
#bianco{
    color: white;
}
/* GIU */
.giu hr{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.giu #bianco{
    padding-bottom: 1.5rem;
}
.giu img{
    width: 1rem;
    display: inline;
}
.testo{
    font-size: 0.8rem;
    padding-left: 0.5rem;
    /* padding-top: 0.5rem; */
}
.pad{
    padding-top: 0.5rem;
}
.grigio{
    background-color: var(--text-grey);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.giu{
    padding-bottom: 1rem;
   height: 85px;
}
.su{
    height: calc(100% - 85px);
}
.debug{
    min-height: 95px;
    width:calc(100%/6);
}
.debug2{
    min-height: 95px;
    width:calc((100% /6 ) *4);  
}
.ct{
    justify-content: space-between;
    align-items: center;
}
#dx{
    padding-left: 0.5rem;
    padding-top: 0.5rem;
}
#sx{
    padding-right: 0.5rem;
}
.column{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.sp{
    padding-right: 7rem;
}
.co{
    justify-content: flex-end;
    align-items: center;
}
#pd{
    padding: 0 0.5rem;
}
.sinister{
    width: 40px;
    height: 40px;
}
.sinister img{
    width: 100%;
}
.bianco{
    color: white;
    font-weight: bolder;
    font-size: 0.8rem;
}
.mini{
    font-size: 0.6rem;
}
div.column i{
    padding: 0 0.5rem;
    font-size: 1.3rem;
}
#grande{
    font-size: 2rem;
    padding: 0 1rem;
}
.giuuu{
    padding-top: 10px;
}
#pd i{
    font-size: 0.8rem;
}
.container{
    padding-left: 1rem;
}
.bar{
    width: 35%;
    height: 5px;
    background-color:var(--text-grey);
    margin-right: 1rem;
    border-radius: 0.3rem;
    position: relative;
}
.rab{
    background-color: var(--lime-green);
    position: absolute;
    left: 0;
    top:0;
    width: 30%;
    height: 5px;
    border-radius: 0.3rem;
}
div.debug2 div.bar{
    margin-top: 1rem;
}
.cont{
    width: 100%;
    justify-content: center;
}
#minuto{
    margin-top: 0.7rem;
}
.destra{
    padding-right: 0.7rem;
}
div.po li:hover{
    color: white;
}
ul.playlist li:hover{
    color: white;
}
div.menu li:hover{
    color: white;
}
.testo:hover{
    color: white;
}
section.top div.lx:hover{
    transform: scale(1.2);
}
.nop{
    overflow-y: auto;
   height: 200px;
}
.giu{
    overflow: hidden;
    background-color: black;
    z-index: 3;
}
@media screen and (min-width:1100px) {
    .wrapper{
        max-width: 100%;
    }
}
@media screen and (max-width:878px) {
    .cards{
        flex-wrap: wrap;
    }
    .card{
        width: calc((100% / 4) - 2rem);
    }
    ul.content-center{
        flex-wrap: wrap;
    }
}
@media screen and (max-width:639px) {
    .cards{
        flex-wrap: wrap;
    }
    .card{
        width: calc((100% / 2) - 2rem);
    }
    ul.content-center{
        flex-wrap: wrap;
    }
    .sp{
        flex-wrap: wrap;
    }
}
@media screen and (max-width:550px) {
    nav{
        width: 15%;
    }
    .dx{
        width: 85%;
    }
    .top{
        width: 85%;
    }
    .gl{
        display: none;
    }
    .lg{
        display: block;
    }
    .tt{
        text-align: center;
    }
    .sp{
        flex-wrap: wrap;
    }
}
@media screen and (max-width:285px){
   .lx{
    display: none;
   } 
}